.customer-service,
.contact-info {
  display: flex;
}

.customer-service {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-info {
  border-top: 3px solid #E0E0E0;
  margin: 5%;
}

.contact-topic {
  margin: 15px 5%;
}

.contact-content {
  font-weight: 300;
  color: grey;
}

.inner-divider {
  width: 40px;
  height: 3px;
  background-color: #FEE353;
}

#hours {
  display: flex;
  flex-direction: column;
}

.cs {
  margin: 25px;
}

#facebook-logo {
  max-width: 45px;
}