.option:hover {
  cursor: pointer;
}

.option {
  margin: 5px;
  border: 1px solid red;
}

.menu-list {
  display: flex;
  flex-direction: column;
  margin: 5%;
}

#menu {
  display: flex;
  margin: 5%;
}

.menu-cat {
  margin-left: 10px;
  width: 100%;
}

#disclosure {
  margin-bottom: 50px;
}

.menu-line {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid gray;
  padding: 5px;
}

.menu-item-description {
  display: flex;
}

.menu-modifier {
  color: white;
  width: 100px !important;
  background-color: #F12426;
  padding: 2px;
  border-radius: 5px;
  margin-left: 15px;;
}

.price {
  display: flex;
}

.right-table,
.right-table-2 {
  margin-right: 10px;
}

.right-table {
  margin-left: 50px;
}
.right-table-2{
  margin-left: 44px;
}

.small {
  margin-right: 5px;
}

.large {
  margin-right: 35px;
}

.selected-list {
  background-color: gray;
}